/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/



/* @media screen and (max-width: 768px) { */

/* img {
    width: 10px;
} */

body, h1, h2, h3, h4, h5, p { 
    font-family: sans-serif;
    padding: 0;
}

h2 {
    font-size: larger;
    text-align: center;
    line-height: 2em;
    padding-top: 10px;
}

h3 {
    font-size: x-large;
    color: #540B51;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

body {
    background-color: #540B51;
}


nav {
    margin: 15px 10px 20px 10px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}

nav div button {
    background-color: transparent;
    border: none;
}

.nav-bar-button {
    width:30px;
}

h1{
    text-align: center;
    font-size:70px;
    color:white
}
.slack-logo {
    width:40%;
}

nav ul { 
    display: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.free-slack {
    color:yellow;
    font-weight: bold;
}

header p {
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.mail-button {
    margin: 10px 20px;
    width: 90%;
    height:50px; 
    font-size: 1.5em;
    color: #540B51;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    
}
.google-button{
    margin: 10px 20px;
    width:90%;
    height:50px;
    font-size:1.5em;
    font-weight:600;
    background-color:lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.google-button img {
    height: 90%;
    width: auto;
}

.product-img {
    width: 100%;
    height: auto;
    padding-top: 100px;
}

.companies {
    background-color:#F3EAE2;
}

#header{
    background-color: #540B51;
}


main {
    background-color: #F3EAE2;
    padding:0;
    border: none;
    width:100vw;
}

.trusted-img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.trusted-img div{
    width: calc(30% - 100px);
    margin: 10px 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    width: 100%;
    height: auto;
}

.slack-stats {
    background-color: white;
}

.slack-stats p {
    text-align: center;
}

.slack-stats span {
    font-size: 5em;
    text-align: center;
    font-weight: 800;  
    color:#540B51;         ;
}

.slack-stats ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.slack-stats li {
    width: 30%;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}   
    
/* } */